---
http_interactions:
- request:
    method: get
    uri: http://www.xboxleaders.com/api/friends.json?gamertag=Belial1984
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"Data\": {\n    \"TotalFriends\": 65,\n    \"TotalOnlineFriends\":
        7,\n    \"TotalOfflineFriends\": 58,\n    \"Friends\": [\n      {\n        \"Gamertag\":
        \"Ageblaster\",\n        \"AvatarSmall\": \"https:\\/\\/avatar-ssl.xboxlive.com\\/global\\/t.4b4b07d1\\/tile\\/0\\/18023\",\n
        \       \"AvatarLarge\": \"https:\\/\\/avatar-ssl.xboxlive.com\\/global\\/t.4b4b07d1\\/tile\\/0\\/28023\",\n
        \       \"GamerScore\": 25655,\n        \"IsOnline\": false,\n        \"PresenceInfo\":
        {\n          \"LastOnline\": 1357873864,\n          \"OnlineStatus\": \"Last
        seen 1\\/11\\/2013 playing Halo 4\",\n          \"Game\": {\n            \"Title\":
        \"Halo 4\",\n            \"Id\": 1297287449,\n            \"Url\": \"http:\\/\\/marketplace.xbox.com\\/en-US\\/Title\\/1297287449\"\n
        \         }\n        }\n      },\n      {\n        \"Gamertag\": \"Alch3mist87\",\n
        \       \"AvatarSmall\": \"https:\\/\\/avatar-ssl.xboxlive.com\\/avatar\\/Alch3mist87\\/avatarpic-s.png\",\n
        \       \"AvatarLarge\": \"https:\\/\\/avatar-ssl.xboxlive.com\\/avatar\\/Alch3mist87\\/avatarpic-l.png\",\n
        \       \"GamerScore\": 5640,\n        \"IsOnline\": false,\n        \"PresenceInfo\":
        {\n[...]
